<ion-header>
  <ion-toolbar>
    <ion-title>
      {{getTemplate('title')}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="getText().length > 0" (click)="clearText()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button *ngIf="getText().length === 0" (click)="getExampleText()">
        {{getTemplate('examples')}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <input type="file" name="upload" accept="application/pdf"
    style="position: absolute; top: -200px; visibility: hidden;" />
  <div class="textarea-container" (click)="offsetScroll($event)">
    <ion-textarea [value]="getText()" (ionChange)="onTextChange($event)" [placeholder]="getTemplate('placeholder')"
      class="text" (ionFocus)="enableOffsetScroll()">
    </ion-textarea>
  </div>

</ion-content>

<ion-footer class="button-container">
  <ion-button (click)="simplifyText()" class="simplify-button">
    {{getTemplate('simplify')}}
  </ion-button>
  <ion-button color="secondary" class="language-button" (click)="changeLanguage()">
    {{getSelectedLanguage()}}
  </ion-button>
</ion-footer>