<ion-header>
  <ion-toolbar>
    <ion-title>
      Testo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-textarea
    [(ngModel)]="text"
    placeholder="Inserisci il testo da semplificare..."
    auto-grow="true"
    class="text"
  ></ion-textarea>
</ion-content>

<ion-footer class="button-container">
  <ion-button (click)="simplifyText()" class="simplify-button">
    Semplifica
  </ion-button>
  <ion-button color="secondary" class="language-button" (click)="changeLanguage()">
    {{languages[0]}}
  </ion-button>
</ion-footer>
