<ion-header>
  <ion-toolbar>
    <ion-title>
      {{getTemplate('title')}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="text.length > 0" (click)="clearText()">
        <ion-icon  slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button *ngIf="text.length === 0" (click)="getExampleText()">       
        {{getTemplate('examples')}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-textarea
    [(ngModel)]="text"
    [placeholder]="getTemplate('placeholder')"
    auto-grow="true"
    class="text"
  ></ion-textarea>
</ion-content>

<ion-footer class="button-container">
  <ion-button (click)="simplifyText()" class="simplify-button">
    {{getTemplate('simplify')}}
  </ion-button>
  <ion-button color="secondary" class="language-button" (click)="changeLanguage()">
    {{getSelectedLanguage()}}
  </ion-button>
</ion-footer>
